@import 'images';
$icon-font-path: '../fonts/';
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    color: #f1f1f1;
    background-color: #3a3736;
    -webkit-tap-highlight-color: rgba(241, 241, 241, 0.2);
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: 'Raleway', serif;
    font-weight: 700;
    letter-spacing: 1px;
}
p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}
q, #testimonials span {
    margin: 0 0 30px;
    font-size: 20px;
    line-height: 1.5;
}
q {
  quotes: "“" "”" "‘" "’";
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}
#testimonials span {
    display: block;
    margin-top:10px;
}
header,
section {
    padding: 100px 0;
}
hr {
    border-top: 1px solid rgba(243,109,65,.9);
    margin-top: 80px;
    margin-bottom: 80px;
}
a {
    color: #F36D41;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #CC6419;
}
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: transparent;
}
.light {
    font-weight: 400;
}
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(243,109,65,.9);
    text-transform: uppercase;
    font-family: 'Raleway', serif;
    background-color: #3a3736;
}
.navbar-custom .navbar-brand {
    font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
    outline: none;
}
.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #f1f1f1;
}
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: none;
}
.navbar-custom a {
    color: #f1f1f1;
}
.navbar-custom .nav li {
    border: 1px solid transparent;
    @include border-radius(8px);
    -webkit-transition: background .3s ease-in-out, border .3s ease-in-out, padding .3s ease-in-out;
    -moz-transition: background .3s ease-in-out, border .3s ease-in-out, padding .3s ease-in-out;
    transition: background .3s ease-in-out, border .3s ease-in-out, padding .3s ease-in-out;
}
.navbar-custom .nav li:hover,
.navbar-custom .nav li:focus,
.navbar-custom .nav li.active {
    background-color: rgba(243,109,65,.6);
    border: 1px solid rgba(243,109,65,.9);
    @include border-radius(8px);
    -webkit-transition: background .3s ease-in-out, border .3s ease-in-out, padding .3s ease-in-out;
    -moz-transition: background .3s ease-in-out, border .3s ease-in-out, padding .3s ease-in-out;
    transition: background .3s ease-in-out, border .3s ease-in-out, padding .3s ease-in-out;
}
.navbar-brand.page-scroll > i.fa-headphones {
    margin-right: 2.5px;
}
.top-nav-collapse .nav li:hover,
.top-nav-collapse .nav li:focus,
.top-nav-collapse .nav li.active {
    outline: none;
    border: 1px solid transparent;
    background-color: #3a3736;
    @include border-radius(10px 10px 0 0);
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}
.top-nav-collapse .nav li {
    outline: none;
    border: 1px solid transparent;
    @include border-radius(10px 10px 0 0);
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}
.top-nav-collapse .nav li.light-tab:hover,
.top-nav-collapse .nav li.light-tab:focus,
.top-nav-collapse .nav li.light-tab.active {
    outline: none;
    border: 1px solid transparent;
    background-color: #f1f1f1;
    @include border-radius(10px 10px 0 0);
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
    a,i {
        color: #3a3736;
        -webkit-transition: color .7s ease-in-out;
        -moz-transition: color .7s ease-in-out;
        transition: color .7s ease-in-out;
    }
}
.top-nav-collapse .nav li.light-tab {
    outline: none;
    border: 1px solid transparent;
    @include border-radius(10px 10px 0 0);
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}
.top-nav-collapse .navbar-nav {
    margin-top: 0;
    margin-bottom:0;
}
#home {
    color: #f1f1f1;
    z-index: 1;
    position: relative;
}
#home:before {
    /* 
        Scotch.io
        http://codepen.io/ncerminara/pen/eFzJI
    */    
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.4;
    background: #3a3736 url(../images/home-bg.jpg) no-repeat scroll bottom center;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
#home .banner-heading {
    font-size: 40px;
    .light {
        font-size: 18px;
    }
}
#home .banner-text {
    font-size: 18px;
}
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #f1f1f1;
    @include border-radius(35px);
    font-size: 40px;
    color: #f1f1f1;
    background: transparent;
    -webkit-transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #777, 0px 3px 0px #555, 0px 4px 0px #333, 0px 5px 4px #001135;
    box-shadow: 0px 1px 0px #999, 0px 2px 0px #777, 0px 3px 0px #555, 0px 4px 0px #333, 0px 5px 4px #001135; 
}
.btn-circle:hover {
    background: rgba(243,109,65,.6);
    color: #f1f1f1;
}
.btn-circle:focus {
    outline: none;
    color:#f1f1f1;
}
.btn {
    text-transform: uppercase;
    font-family: 'Raleway', serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-default {
    border: 1px solid #f1f1f1;
    color: #f1f1f1;
    background-color: #3a3736;    
}
.btn-primary {
    color: #f1f1f1;
    background-color: #f36d41;
    border-color: #f36d41;
}
.btn-primary:hover,
.btn-primary:hover,
.btn-primary:focus:hover,
.btn-primary.focus:hover,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .btn-primary.dropdown-toggle:hover {
    background-color: #cc6419;
    border-color: #cc6419;
}
.btn-default:hover,
.btn-default:hover,
.btn-default:focus:hover,
.btn-default.focus:hover,
.btn-default:active:hover,
.btn-default.active:hover,
.open > .btn-default.dropdown-toggle:hover {
    color: #f1f1f1;
    background-color: rgba(230, 230, 230, 0);
    border-color: #3a3736;
}
.btn-default:active,
.btn-default.active,
.open > .btn-default.dropdown-toggle {
    background-image: none;
}
.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled.focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled].focus,
.btn-default[disabled]:active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
    background-color: rgba(241, 241, 241, 0);
    border-color: #f1f1f1;
}
.btn-default .badge {
    color: rgba(241, 241, 241, 0);
    background-color: #f1f1f1;
}
.btn-default:hover,
.btn-default:focus {
    border: 1px solid rgba(243, 109, 65, 0.9);
    outline: none;
    color: #f1f1f1;
    background: rgba(243, 109, 65, 0.9);
}
ul.banner-social-buttons {
    margin-top: 0;
    margin-bottom:40px;
}
footer {
    color: #f1f1f1;
    background-color: #3a3736;
    padding: 50px 0;
}
footer p {
    margin: 0 0 40px 0;
}
::-moz-selection,
::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(241, 241, 241, 0.2);
}
img::selection {
    background: transparent;
}
img::-moz-selection {
    background: transparent;
}
#testimonials, #contact {
    color: #3a3736;
    background-color: #f1f1f1;
}
#portfolio {
    background-color: #3a3736;
    color: #f1f1f1;
}
.portfolio-item h3 {
    margin-top: 30px;
}
#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    overflow: hidden;    
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(243,109,65,.9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #f1f1f1
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f1f1f1;
    color: #3a3736;
    text-align: center;
    padding: 25px;
    border-radius: 0px 0px 10px 10px;    
}

#portfolio .portfolio-item .portfolio-caption h4 {
    text-transform: none;
    margin: 0
}

#portfolio .portfolio-item .portfolio-caption p {
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
    font-size: 16px;
    margin: 0
}

#portfolio * {
    z-index: 2
}
.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    min-height: 100%;
    padding: 100px 0;
    text-align: center
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: italic;
    font-size: 16px
}

.portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px
}

.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer
}

.portfolio-modal .close-modal:hover {
    opacity: .3
}

.portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051
}

.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052
}

.portfolio-modal .modal-backdrop {
    opacity: 0;
    display: none
}

#contact {
    .form-group {
        text-align:left;
        margin-bottom: 25px;
    }
    .form-control:focus {
        border-color: rgba(243,109,65,.9);
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(243,109,65, 0.6);
    }    
    .form-control-feedback {
        position: inherit;
        width: inherit;
        height: inherit;
        line-height: inherit;
    }
    .has-error {
        background-color: rgba(255, 255, 255, 0.75);
        padding: 10px;
        @include border-radius(10px);        
    }
    #msgSendBtn {
        float: left;
    }
}
@media (min-width: 767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
    .navbar {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .navbar-custom a,
    .navbar-custom i {
        color: #f1f1f1;
        -webkit-transition: color .7s ease-in-out;
        -moz-transition: color .7s ease-in-out;
        transition: color .7s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
        background-color: #3a3736;
        a, i {
            color: #f1f1f1;
        }
    }
    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(243,109,65,.9);
    }
    #home .banner-heading {
        font-size: 100px;
        text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;        
        .light {
            font-size: 30px;
            text-shadow: 0px 1px 0px #999, 0px 2px 0px #777, 0px 3px 0px #555, 0px 4px 0px #333, 0px 5px 4px #001135; 
        }
    }
    #home .banner-text {
        font-size: 25px;
        text-shadow: 0px 1px 0px #999, 0px 2px 0px #777, 0px 3px 0px #555, 0px 4px 0px #333, 0px 5px 4px #001135; 
    }
    #home:before {
        background-position: 68% 0;
    }
    #portfolio .portfolio-item {
        margin:0 0 30px
    }
}
@media (max-width: 767px) {
    .navbar-collapse {
        box-shadow: inset 0 1px 0 rgba(243,109,65,.9);
    }    
    .navbar-custom {
        padding: 0;
        border-bottom: 1px solid rgba(243,109,65,.9);
        background-color: #3a3736;
        a, i {
            color: #f1f1f1;
        }
        -webkit-transition: background-color .7s ease-in-out;
        -moz-transition: background-color .7s ease-in-out;
        transition: background-color .7s ease-in-out;
    }
    .navbar-custom a,
    .navbar-custom i {
        color: #f1f1f1;
        -webkit-transition: color .7s ease-in-out;
        -moz-transition: color .7s ease-in-out;
        transition: color .7s ease-in-out;
    }
    .navbar-custom .nav li,
    .navbar-custom .nav li.light-tab,    
    .navbar-custom .nav li:hover,
    .navbar-custom .nav li.light-tab:hover, 
    .navbar-custom .nav li:focus,
    .navbar-custom .nav li.light-tab.focus,     
    .navbar-custom .nav li.active,
    .navbar-custom .nav li.light-tab.active {
        @include border-radius(0px);
    }
    .navbar-custom .nav li.light-tab:hover, 
    .navbar-custom .nav li.light-tab.focus,
    .navbar-custom .nav li.light-tab.active {
        background-color: #f1f1f1;
        a,i {
            color: #3a3736;
        }
        border: 1px solid transparent;
    }    
    .navbar-custom .navbar-nav {
        margin-top:0;
        margin-bottom:0;
    }
    #home {
        margin-top: 40px;
        height: 620px;
    }
    #home:before {
        background-position: 64% 0;
    }
    ul.banner-social-buttons li {
        margin-bottom: 20px;
    }
}
@media (max-width: 1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    #home:before {
        background-position: 72% 0;
    }
}