#home {
    color: $t4lwhite;
    z-index: 1;
    position: relative;    
    .banner-heading {
        font-size: 2.75em;
        margin-bottom: .25em;
        @include tstransition(1s);
        @include text-shadow-sm;  
        a {
            color: inherit;
            &:hover, &:focus, &.active {
                color: inherit;
            }
        }
        span {
            font-size: .5em;
            font-weight: 400;
            display: block;
            margin-bottom: .5em;            
            @include text-shadow-sm;        
        }
        &.logo-fire {
            @include tstransition(1s);
            @include text-shadow-fire-sm;
        }
        &:hover {
            @include tstransition(1s);
            @include text-shadow-fire-sm; 
        }
    }
    .banner-text {
        font-size: 1.4em;
        @include tstransition(1s);
        @include text-shadow-sm;    
    }
    /*.stickfist {
        &.stickfist-banner {
            @include tstransition(1s);
            @include text-shadow-sm;
            &.logo-fire {
                @include tstransition(1s);
                @include text-shadow-fire-sm;
            }            
        }
    } */
    &:before { 
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0.4;
        background: $t4lbrown url(../images/home-bg.jpg) no-repeat scroll bottom center;
        background-repeat: no-repeat;
        background-position: 50% 0;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .btn-circle {
        width: 70px;
        height: 70px;
        margin-top: 15px;
        padding: 7px 16px;
        border: 2px solid $t4lwhite;
        @include border-radius(35px);
        font-size: 40px;
        color: $t4lbrown;
        background: $t4lwhite;
        @include bktransition(.5s);
        &:hover {
            background: $t4lorange2;
            color: $t4lwhite;
            border-color: $t4lorange4;
        }
        &:focus {
            outline: none;
            color: $t4lbrown;
            background: $t4lwhite; 
            border-color: $t4lwhite;
        }    
    }
}