.nav {
    li {
        a {
            &:hover, &:focus {
                background-color: transparent;
            }
        }
    }
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid $t4lorange4;
    text-transform: uppercase;
    font-family: 'Raleway',serif;
    background-color: $t4lbrown;
    a {
        color: $t4lwhite;
    }    
    .navbar-brand {
        font-weight: 700;
        &:focus {
            outline: none;
        }
        .navbar-toggle {
            padding: 4px 6px;
            font-size: 16px;
            color: $t4lwhite;
            &:focus, &:active {
                outline: none;
            }            
        }
        .page-scroll {
            i.fa-headphones {
                margin-right: 2.5px;
            }        
        }
    }
    .nav {
        li {
            border: 1px solid transparent;
            @include border-radius(8px);
            @include bktransition(.3s);
            &:hover, &:focus, &.active {
                background-color: $t4lorange2;
                border: 1px solid $t4lorange4;
                @include border-radius(8px);
                @include bktransition(.3s);
            }
        }        
    }    
}

.top-nav-collapse {
    .nav {
        li {
            outline: none;
            border: 1px solid transparent;
            @include border-radius(10px 10px 0 0);
            @include bktransition(.5s);            
            &:hover, &:focus, &.active {
                outline: none;
                border: 1px solid transparent;
                background-color: $t4lbrown;
                @include border-radius(10px 10px 0 0);
                @include bktransition(.5s);
            }
        }
        .light-tab {
            outline: none;
            border: 1px solid transparent;
            @include border-radius(10px 10px 0 0);
            @include bktransition(.5s);                
            &:hover, &:focus, &.active {
                outline: none;
                border: 1px solid transparent;
                background-color: $t4lwhite;
                @include border-radius(10px 10px 0 0);
                @include bktransition(.5s);
                a, i {
                    color: $t4lbrown;
                    @include bktransition(.7s);
                }
            }                
        }        
    }
    .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }    
}